<h1>Editing voice pack</h1>

<%= render "form", voice_pack: @voice_pack %>

<br>

<div>
  <%= link_to "Show this voice pack", @voice_pack %> |
  <%= link_to "Back to voice packs", voice_packs_path %>
</div>
