<h1>Editing combat style</h1>

<%= render "form", combat_style: @combat_style %>

<br>

<div>
  <%= link_to "Show this combat style", @combat_style %> |
  <%= link_to "Back to combat styles", combat_styles_path %>
</div>
