<h1>Editing player model skin</h1>

<%= render "form", player_model_skin: @player_model_skin %>

<br>

<div>
  <%= link_to "Show this player model skin", @player_model_skin %> |
  <%= link_to "Back to player model skins", player_model_skins_path %>
</div>
