<h1>Editing mod sub type</h1>

<%= render "form", mod_sub_type: @mod_sub_type %>

<br>

<div>
  <%= link_to "Show this mod sub type", @mod_sub_type %> |
  <%= link_to "Back to mod sub types", mod_sub_types_path %>
</div>
