<h1>Editing authorable</h1>

<%= render "form", authorable: @authorable %>

<br>

<div>
  <%= link_to "Show this authorable", @authorable %> |
  <%= link_to "Back to authorables", authorables_path %>
</div>
