<%= form_with(model: xbots_configuration_botlist) do |form| %>
  <% if xbots_configuration_botlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(xbots_configuration_botlist.errors.count, "error") %> prohibited this xbots_configuration_botlist from being saved:</h2>

      <ul>
        <% xbots_configuration_botlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
