<h1>Editing xbots configuration botlist</h1>

<%= render "form", xbots_configuration_botlist: @xbots_configuration_botlist %>

<br>

<div>
  <%= link_to "Show this xbots configuration botlist", @xbots_configuration_botlist %> |
  <%= link_to "Back to xbots configuration botlists", xbots_configuration_botlists_path %>
</div>
