<h1>New xbots configuration botlist</h1>

<%= render "form", xbots_configuration_botlist: @xbots_configuration_botlist %>

<br>

<div>
  <%= link_to "Back to xbots configuration botlists", xbots_configuration_botlists_path %>
</div>
