<h1>New player model skin face</h1>

<%= render "form", player_model_skin_face: @player_model_skin_face %>

<br>

<div>
  <%= link_to "Back to player model skin faces", player_model_skin_faces_path %>
</div>
