<h1>Editing xbots configuration</h1>

<%= render "form", xbots_configuration: @xbots_configuration %>

<br>

<div>
  <%= link_to "Show this xbots configuration", @xbots_configuration %> |
  <%= link_to "Back to xbots configurations", xbots_configurations_path %>
</div>
