<h1>Editing game mode</h1>

<%= render "form", game_mode: @game_mode %>

<br>

<div>
  <%= link_to "Show this game mode", @game_mode %> |
  <%= link_to "Back to game modes", game_modes_path %>
</div>
