<div class="container-fluid">
  <p style="color: green"><%= notice %></p>

  <h1>Game Modes</h1>

  <%= link_to "New game mode", new_game_mode_path, class: "btn btn-primary" %>
  <br/>
  <br/>

  <div id="game_modes">
    <ul class="list-group">
    <% @game_modes.each do |game_mode| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-4">
            <%= game_mode.name %>

            <% if game_mode.vanilla %>
              <span class="badge bg-warning">Vanilla</span>
            <% end %>
          </div>
          <div class="col-sm-2">
            <%= link_to "Show", game_mode %>
          </div>
        </div>
      </li>
    <% end %>
  </div>
</div>
