<h1>Editing botlist bot</h1>

<%= render "form", botlist_bot: @botlist_bot %>

<br>

<div>
  <%= link_to "Show this botlist bot", @botlist_bot %> |
  <%= link_to "Back to botlist bots", botlist_bots_path %>
</div>
