<h1>Editing player model</h1>

<%= render "form", player_model: @player_model %>

<br>

<div>
  <%= link_to "Show this player model", @player_model %> |
  <%= link_to "Back to player models", player_models_path %>
</div>
