<div id="<%= dom_id colour %>">
  <p>
    <strong>Name:</strong>
    <%= colour.name %>
  </p>

  <p>
    <strong>Hex:</strong>
    <%= colour.hex %>
  </p>

  <p>
    <strong>Rgb:</strong>
    <%= colour.rgb %>
  </p>

</div>
