<nav class="navbar bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav list-group">
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/bots">Bots</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/colours">Colours</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/combat_styles">Combat Styles</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/game_modes">Game Modes</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/maps">Maps</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/mutators">Mutators</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/player_model_skins">Player Model Skins</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/player_models">Player Models</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/voice_packs">Voice Packs</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="/weapons">Weapons</a>
      </li>
    </ul>
  </div>
</nav>